apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13.16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: admin
            - name: POSTGRES_PASSWORD
              value: fake-shop-password
            - name: POSTGRES_DB
              value: fake_shop_db

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
  selector:
    app: postgres

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fakeshop
spec:
  selector:
    matchLabels:
      app: fakeshop
  template:
    metadata:
      labels:
        app: fakeshop
    spec:
      containers:
        - name: fakeshop
          image: davidalmd/fake-shop:v2
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_USER
              value: admin
            - name: DB_PASSWORD
              value: fake-shop-password
            - name: DB_NAME
              value: fake_shop_db
            - name: FLASK_APP
              value: index.py


---
apiVersion: v1
kind: Service
metadata:
  name: fakeshop
spec:
  type: NodePort
  ports:
    - port: 5000
      nodePort: 30000
  selector:
    app: fakeshop